.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-background {
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  /*
  font-size: calc(10px + 2vmin);
  */
  font-size: large;
  padding-bottom: 20px;
  white-space: pre-line;
  vertical-align: bottom;
}

  /*767*/
  #scrollableText {
    /*overflow-y: visible !important;
    max-height: fit-content !important;*/
  }

#scrollableText::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.titlePages {
  color: #77ae59;
}

.light-mode {
  background-color: #f1f4dc;
  color: #244e23;
}

.dark-mode {
  background-color: #244e23;
  color: #f1f4dc !important;
}

.header_center {
  flex-wrap: center;
  align-items: center;
}

.navbar-lightgreen {
  background-color: #77ae59;
}

.testolight {
  color: #244e23 !important;
}

.testodark {
  color: #f1f4dc !important;
}

.homePage-structure {
  display: flex;
}

.homePage-bgimg {
  /*background-image: url("./img/background.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}
